body {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-content: center;
    align-content: center;
    background-color: rgb(180, 180, 192);
    font-size: 20pt;
    color: black;
    font-family: sans-serif;
}

.dev-lines {
    border: 1px solid red;
}

.button {
    place-self: center;
    border: 5px solid rgb(135, 135, 144);
    background-color: rgb(5, 168, 170);
    border-radius: 12pt;
    width: 25%;
    height: 90%;
    color: black;
}



/* Recall screen styles */

.recall-screen {
    display: grid;
    grid-template-columns: 75vw;
    grid-template-rows: 55vh 15vh 15vh;
    row-gap: 5vh;
    grid-template-areas:
        "recall-grid"
        "answer-row"
        "button-row";
}

.recall-screen-grid {
    display: grid;
    grid-template-columns: repeat(4, 3fr);
    grid-template-rows: repeat(3, 3fr);
    column-gap: 2vw;
    row-gap: 2vh;
}

.recall-screen-item-cell {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: "clk img";
}

.item-cell-click-box {
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: bottom;
    grid-area: box;
}

.item-cell-img-box {
    width: 100%;
    height: 100%;
    grid-area: img;
    place-items: center;
}



.recall-screen-answer-row {
    display: flex;
    grid-area: answer-row;
    place-content: space-evenly;
}


.answer-row-guess-cell {
    place-self: center;
    width: 10%;
    height: 90%;
}








